<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <title>Title</title>-->
<!--  <link rel="stylesheet" href="content.css">-->
<!--  <% if (NODE_ENV === 'development') { %>-->
<!--  &lt;!&ndash; Load some resources only in development environment &ndash;&gt;-->
<!--  <% } %>-->
<!--</head>-->
<!--<body>-->
<!--  <div id="app">-->

<!--  </div>-->
<!--&lt;!&ndash;  <script src="popup.js"></script>&ndash;&gt;-->
<!--  <script src="content.js"></script>-->
<!--</body>-->
<!--</html>-->
